.Coin {
  font-size: 6em;
  padding: 0.25em;
  color: #E3B04B;
}

.flip {
  animation-name: flip;
  animation-duration: 2s;
}


@keyframes flip {
  from {transform: rotateY(0deg);}
  to {transform: rotateY(180deg);}
}
