.Die {
  font-size: 10em;
  padding: 0.25em;
  color: #E3B04B;
}

.roll {
  animation-name: rotate;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}

@keyframes rotate {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}
