.dice {
  display: flex;
  justify-content: center;
}

.slide {
  display: flex;
  justify-content: center;
  animation-name: slidein;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}

@keyframes slidein {
  from {transform: translate(-100%, 0%);}
  to {transform: translate(0%, 0%);}
}

.btn-roll {
  font-family: 'Play', sans-serif;
  font-size: 2em;
  width: 240px;
  padding: 12px 0;
  border: none;
  background-color: #343434;
  color: #FCFAF1;
  border-radius: 8px;
}

.btn-roll:hover {
  cursor: pointer;
}
