.dice {
  display: flex;
  justify-content: center;
  margin: auto;
}

.btn-roll {
  font-size: 1.5em;
  padding: 12px 32px;
  border: none;
  color: white;
  border-radius: 8px;
  background-color: #343434;
  transition: all .5s ease-out;
}

.btn-roll:hover {
  cursor: pointer;
  background-color: #343434;
}
